# Игнорируем настройки VS Code
.vscode/

# Игнорируем виртуальное окружение Python (если есть)
venv/
.env

# Игнорируем временные файлы Python
__pycache__/
*.py[cod]
*$py.class

# Игнорируем саму базу данных
messages.db

# Игнорируем системные файлы Windows
Thumbs.db
desktop.ini

#Игнонируем всё в папке ssh
ssh/

#Скрытие токена репозитория
start/TOKEN